.aboutTitle {
  width: 1110px;
  height: 480px;
  margin: auto;
  background-color: var(--peach);
  color: var(--white);
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin-top: 65px;
}

.aboutTitle img {
  border-radius: 0 15px 15px 0;
}

.aboutTitleDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-left: 95px;
  padding-right: 80px;
  background-position: right;
  background-position-y: bottom;
}

.aboutTitleDetails h1 {
  margin-bottom: 32px;
}

.aboutTitleDetails p {
  margin-top: 0;
}

.aboutTalent {
  width: 1110px;
  height: 640px;
  margin: auto;
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: #FdF3F0;
}

.aboutTalent h2 {
  color: var(--peach);
}

.aboutTalent img {
  border-radius: 15px 0 0 15px;
} 

.aboutTalentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 95px;
  padding-right: 95px;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: -150px;
}

.aboutTalentInfo h2 {
  margin-bottom: 0;
}

.aboutTalentInfo p {
  margin-top: 24px;
  margin-bottom: 0;
}