.aboutTitle {
  width: 1110px;
  height: 480px;
  margin: auto;
  background-color: var(--peach);
  color: var(--white);
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin-top: 65px;
}

.aboutTitle img {
  border-radius: 0 15px 15px 0;
}

.aboutTitleDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding-left: 95px;
  padding-right: 80px;
  background-position: right;
  background-position-y: bottom;
}

.aboutTitleDetails h1 {
  margin-bottom: 32px;
}

.aboutTitleDetails p {
  margin-top: 0;
}