
.appDesignTitle {
  text-align: center;
  background-color: var(--peach);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 252px;
  border-radius: 15px;
  margin-top: 70px;
  margin-bottom: 170px;
  background-position-y: 50%;
  background-position-x: left;
  background-repeat: no-repeat;
}

.appDesignTitle h1 {
  margin-top: 0;
  margin-bottom: 25px;
}

.appDesignTitle p {
  width: 35%;
  margin: 0 auto;
}

.appDesignProjects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.appDesignLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 160px;
  margin-bottom: 160px;
}

.appDesignLink {
  width: 540px;
  height: 308px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  border-radius: 15px;
}

.appDesignLink::before {
  border-radius: 15px;
  content: " ";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.50);
}

.appDesignLink h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.appDesignLink p {
  margin-top: 25px;
  position: relative;
  letter-spacing: 5px;
  font-size: 15px;
  font-weight: 500;
}

.appDesignLink img {
  margin-left: 16px;
}

.appDesignLinkAnchor {
  text-decoration: none;
}
