.head {
  width: 1110px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head a {
  text-decoration: none;
  color: inherit;
}

.head a:hover {
  border-bottom: 1px solid rgba(1, 1, 1, 0.5);
}



.noHoverLine:hover {
  border-bottom: none !important;
}

.head ul {
  margin: 0;
}

.head img {
  max-height: 25px;
}

.links {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.links li {
  margin-left: 40px;
  letter-spacing: 2px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .head {
    width: 689px;

  }
}