.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head ul {
  margin: 0;
}

.head img {
  max-height: 25px;
}

.links {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.links li {
  margin-left: 40px;
  letter-spacing: 2px;
  font-size: 15px;
}