.ProjectCard {
  width: 350px;
  height: 478px;
  border-radius: 15px;
  background-color: #FDF3F0;
}

.ProjectCard:hover * {
  cursor: pointer;
  background-color: var(--peach);
  color: white;
}

.ProjectCardInfo {
  position: relative;
  padding: 30px;
  border-radius: 0 0 15px 15px;
  bottom: 8px;
}

.ProjectCardImage {
  max-width: 100%;
  max-height: 100%;
}

.ProjectCardInfo h3 {
  color: var(--peach);
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.ProjectCardInfo p {
  text-align: center;
  margin-bottom: 0;
}